/* ---------------------------------- */
/* SW Color Swatches                  */
/* ---------------------------------- */

:root {
  /*
  coty: https://www.sherwin-williams.com/en-us/color-of-the-year-2023
  desc: beige-mauve monochromatic color scheme w/ pastel accents
  data: <Hex Value | Color ID | Color Name>
  */

  /* Set of swatches ordered by color families. */

  /* Red */
  --sw-toile-red: 5deg 28% 43%;         /* 8B534E SW0006 Toile Red (H) */
  --sw-pink-shadow: 16deg 36% 80%;      /* DEC3B9 SW0070 Pink Shadow (H) */
  --sw-abalone-shell: 20deg 29% 80%;    /* DBC7BD SW6050 Abalone Shell */
  --sw-romance: 18deg 50% 84%;          /* EBCFC3 SW6323 Romance */
  --sw-quaint-peche: 18deg 49% 84%;     /* EACDC1 SW6330 Quaint Peche */
  --sw-red-theatre: 359deg 34% 32%;     /* 6E3637 SW7584 Red Theatre */
  --sw-coral-clay: 8deg 39% 59%;        /* BF796E SW9005 Coral Clay */
  --sw-rojo-dust: 11deg 35% 55%;        /* B57466 SW9006 Rojo Dust */
  --sw-hushed-auburn: 14deg 21% 57%;    /* A8857A SW9080 Hushed Auburn */
  --sw-redend-point: 20deg 23% 59%;     /* AE8E7E SW9081 Redend Point */

  /* Soft Shades + Statement Hues */
  --sw-ede-rose-pink: 355deg 51% 86%;   /* EECACD SW9693 Rose Pink */
  --sw-ede-wild-poppy: 3deg 41% 53%;    /* B85B57 SW9694 Wild Poppy */
  --sw-ede-pale-pink: 30deg 32% 90%;    /* EEE6DE SW9696 Pale Pink */

  /* Orange */
  --sw-malted-milk: 24deg 33% 81%;      /* DECABD SW6057 Malted Milk */
  --sw-cool-beige: 27deg 21% 72%;       /* C6B5A7 SW9086 Cool Beige */

  /* Yellow */
  --sw-nugget: 42deg 67% 57%;           /* DBB04A SW6697 Nuggets */
  --sw-paper-lantern: 37deg 64% 86%;    /* F2E0C4 SW7676 Paper Lantern */
  --sw-vintage-gold: 33deg 45% 63%;     /* CBA576 SW9024 Vintage Gold */

  /* Green */
  --sw-chartreuse: 50deg 60% 70%;       /* E1D286 SW0073 Chartreuse */
  --sw-sea-salt: 97deg 8% 81%;          /* CDD2CA SW6204 Sea Salt */
  --sw-glimmer: 137deg 13% 89%;         /* E0E7E2 SW6476 Glimmer */
  --sw-mint-condition: 123deg 24% 85%;  /* D1E3D2 SW6743 Mint Condition */

  /* Blue */
  --sw-window-pane: 127deg 11% 86%;     /* D7DFD8 SW6210 Window Pane */
  --sw-green-trance: 138deg 19% 87%;    /* D7E4DB SW6462 Green Trance */
  --sw-drizzle: 175deg 17% 62%;         /* 8CAEAB SW6479 Drizzle */
  --sw-in-the-navy: 211deg 29% 22%;     /* 283849 SW9178 In the Navy */
  --sw-naval: 211deg 24% 24%;           /* 2F3D4C SW6244 Naval */

  /* Purple */
  --sw-fashionable-gray: 0deg 4% 73%;   /* BDB8B8 SW6275 Fashionable Gray */
  --sw-mystical-shade: 348deg 3% 67%;   /* AEA9AA SW6276 Mystical Shade */
  --sw-rhapsody-lilac: 269deg 24% 83%;  /* D2C8DD SW6828 Rhapsody Lilac */
  --sw-carnelian: 0deg 17% 29%;         /* 573E3E SW7580 Carnelian */
  --sw-perle-noir: 270deg 3% 31%;       /* 4F4D51 SW9154 Perle Noir */

  /* Neutral */
  --sw-skyline-steel: 38deg 14% 74%;    /* C6BFB3 SW1015 Skyline Steel */
  --sw-westchester-gray: 60deg 0% 47%;  /* 797978 SW2849 Westchester Gray (H) */
  --sw-chelsea-gray: 69deg 5% 70%;      /* B6B7B0 SW2850 Chelsea Gray (H) */
  --sw-tricorn-black: 240deg 1% 19%;    /* 2F2F30 SW6258 Tricorn Black */
  --sw-black-magic: 300deg 1% 19%;      /* 323132 SW6991 Black Magic */
  --sw-urbane-bronze: 36deg 6% 31%;     /* 54504A SW7048 Urbane Bronze */
  --sw-silver-strand: 86deg 6% 78%;     /* C8CBC4 SW7057 Silver Strand */
  --sw-loggia: 35deg 21% 71%;           /* C4B7A5 SW7506 Loggia */
  --sw-stone-lion: 34deg 18% 64%;       /* B3A491 SW7507 Stone Lion */
  --sw-foothills: 30deg 12% 45%;        /* 827466 SW7514 Foothills */
  --sw-drift-of-mist: 40deg 15% 84%;    /* DCD8D0 SW9166 Drift of Mist */

  /* White & Pastel */
  --sw-pure-white: 51deg 16% 92%;       /* EDECE6 SW7005 Pure White */
  --sw-extra-white: 72deg 14% 93%;      /* EEEFEA SW7006 Extra White */
  --sw-alabaster: 46deg 27% 90%;        /* EDEAE0 SW7008 Alabaster */
  --sw-shoji-white: 38deg 28% 86%;      /* E6DFD3 SW7042 Shoji White */
  --sw-worldly-gray: 35deg 16% 77%;     /* CEC6BB SW7043 Worldly Gray */
  --sw-paperwhite: 41deg 61% 92%;       /* F7EFDE SW7105 Paperwhite */
  --sw-greek-villa: 43deg 32% 91%;      /* F0ECE2 SW7551 Greek Villa */
  --sw-westhighland: 41deg 40% 92%;     /* F3EEE3 SW7566 Westhighland White */
  --sw-fleur-de-sel: 72deg 7% 86%;      /* DCDDD8 SW7666 Fleur de Sel */
}
