extends page

block vars
  - let page = data.pages.trips;
  -
    const RIVER_DEVIL = 'https://t.me/riverdevil666'

block content
  section.grid
    article.container#advert
      .grid__start-half.logo.flex-centered
        include ../images/trips/river-devil-logo.svg
      .grid__end-half.self.--start
        //- p(itemprop="description" role="subtitle")= cruisesAd
        p.copy.font-serif= cruisesAd
      //- .grid__full.bg-image
      +picture({
        class: ['grid__full'],
        path: 'trips',
        name: 'river-devil',
        format: 'webp',
        desc: '',
        hdim: 1920,
        vdim: 823,
        transform: false })

      //- УТП
      .grid__third-lhs.sideways
        +head({ text: 'Мы предлагаем' })
      //- ul.grid__center.offers
        each item of offers
          li: p.font-serif= item
      .grid__third-rhs.offers.flow
        +list({
          title: 'Приключение',
          items: offer1 })
        +list({
          title: 'Изучение',
          items: offer2 })
        //- 'Подробнее', 'Узнать больше', 'Перейти в Телеграм'
        +cta({
          type: 'anchor',
          text: 'Узнать больше',
          link: RIVER_DEVIL })(data-js-anim='bg-gradient')

      //- Карта
        - https://html.spec.whatwg.org/multipage/image-maps.html
      .grid__center.map
        +head({ text: 'Маршруты' })
        //- p.copy.font-serif
          | Мы предлагаем несколько форматов прогулок по следующим маршрутам:
        include ../images/trips/map.svg
      //- +picture({
        class: ['grid__full', 'map'],
        path: 'trips',
        name: 'map',
        format: 'webp',
        desc: '',
        hdim: 1920,
        vdim: 720,
        transform: false })

      footer.grid__center
        p.copy.font-serif.text-center
          //- | ${NBSP}
          | Подробности
          = spacedEmDash
          | в нашем Телеграм-канале
          | #[br]
          +link({
            classes: ['font-serif'],
            text: '@riverdevil666',
            href: RIVER_DEVIL })
