@use '../config';

// https://open-ui.org/components/card.research/
// https://snap-gallery.netlify.app/
// ? https://chjweb.hashnode.dev/skeleton-loader-in-pure-css

.deck,
.horizontal-scroller {
  --_size-content: 45ch;
  --_bleed: 2rem;
  --_space: 1.25rem;
  // --sidebar-size: 75px;

  display: grid;
  // display: flex;

  // block-size: 100dvh;
  // inline-size: 100vw;

  overflow-x: auto; // scroll
  overscroll-behavior-x: contain;

  // scroll-snap-type: x mandatory;
  scroll-snap-type: inline mandatory;

  // scroll-padding-inline-start: var(--sidebar-size);
  scroll-padding-inline: var(--_space);

  grid-auto-flow: column;
  grid-auto-columns: 100%;
  gap: var(--_space);

  padding-block-end: var(--_space);
  padding-inline: var(--_space);
  margin-inline: calc(var(--_space) * -1);

  & > .item {
    &:where(:not(:first-child, :last-child)) {
      scroll-snap-align: center;
    }
    &:where(:first-child, :first-of-type) {
      scroll-snap-align: start;
    }
    &:where(:last-child, :last-of-type) {
      scroll-snap-align: end;
    }
  }

  @include config.respond('tablet') {
    grid-auto-columns: 45ch;

    :where(#goods) & {
      grid-auto-columns: minmax(24em, 1fr);
    }
  }

  aside {
    inline-size: var(--sidebar-size);

    flex-shrink: 0;

    position: sticky;
    inset-inline-start: 0;
  }

  .card-feed__item {
    max-inline-size: unset;
  }
}

.card {
  $card: &;
  $compact: #{&}--compact;
  $article: #{&}--article;

  // --bg-color: hsl(var(--sw-paperwhite));

  max-inline-size: 100%;
  // min-inline-size: 30ch;
  // max-inline-size: 45ch;
  // inline-size: clamp(30ch, 50%, 45ch); // 20–45ch

  scroll-snap-align: start;

  display: grid;
  gap: var(--_space);
  padding: var(--_space);
  align-self: stretch;
  align-content: start;
  grid-template-rows: min-content auto 1fr auto;

  border-radius: 5px;
  overflow-y: hidden;
  contain: layout;

  // TODO
  // will-change: transform;
  // from
  // &--compact {…}
  // to
  // &--article {…}

  &__image-wrapper,
  &__image {
    aspect-ratio: var(--ratio, 1);

    @include config.respond('tablet') {
      :where(:not(#goods)) & { --ratio: 16/9; }
      :where(#goods) & { --ratio: 4/5; }
    }
  }

  &__image-wrapper {
    inline-size: 100%;
    overflow: hidden;
    // LQIP
    background-size: cover;
  }

  // picture,
  &__image {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    will-change: transform;

    img {
      object-fit: cover;
      object-position: 50% 50%;
      block-size: 100%;
    }
  }

  &__headline {
    #{$compact} & {
      @include config.line-clamp(1);

      display: inline-block;
      max-inline-size: 100%;
      text-align: left;
    }
  }

  &__body {
    @include config.line-clamp(3);

    max-inline-size: 40ch;
    text-wrap: balance;

    #{$compact} & {
      hyphens: manual;
      // opacity: 0;
    }
  }

  &__price,
  &__date {
    opacity: 0.75;
    display: inline-block;
    inline-size: 100%;

    font-family: var(--font-display);
    font-style: oblique 15deg;
    text-align: right;

    // &::before { content: attr(datetime); }
  }

  &__footer {
    @include config.flow-space(1rem);
  }

  // &__cta {}
}
