@use '../config';

// ? https://chjweb.hashnode.dev/skeleton-loader-in-pure-css

.horizontal-scroller {
  --_space: 1.25rem;

  display: grid;
  overflow-x: scroll;
  overscroll-behavior-inline: contain;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  padding-block-end: 1.25rem;
  gap: var(--_space);
  margin-inline: calc(var(--_space) * -1);
  padding-inline: var(--_space);
  scroll-padding-inline: var(--_space);
  scroll-snap-type: inline mandatory;

  @include config.respond('tablet') {
    grid-auto-columns: 45ch;
  }
}

.card-feed__item {
  max-inline-size: unset;
}

.card {
  $card: &;
  $compact: #{&}--compact;
  $article: #{&}--article;

  // --bg-color: hsl(var(--sw-paperwhite));

  scroll-snap-align: start;
  // position: relative;
  display: grid;
  gap: 1.25rem;
  padding: 1.25rem;

  max-inline-size: 100%;
  // min-inline-size: 30ch;
  // max-inline-size: 45ch;
  // inline-size: clamp(30ch, 50%, 45ch); // 20–45ch

  border-radius: 5px;
  overflow-y: hidden;
  contain: layout;

  // TODO
  // will-change: transform;
  // from
  // &--compact {…}
  // to
  // &--article {…}

  &__image-wrapper,
  &__image {
    aspect-ratio: var(--ratio, 1);

    @include config.respond('tablet') {
      :where(:not(#goods)) & {--ratio: 16/9;}
    }
  }

  &__image-wrapper {
    inline-size: 100%;
    overflow: hidden;
    // LQIP
    background-size: cover;
  }

  // picture,
  &__image {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    will-change: transform;

    img { block-size: 100%; }
  }

  &__headline {
    #{$compact} & {
      @include config.line-clamp(1);

      display: inline-block;
      max-inline-size: 100%;
      // padding: .5em;
      text-align: left;

      // color: var(--background);
      // background:
      //   linear-gradient(
      //     90deg,
      //     var(--accent) 0%,
      //     hsl(var(--warm-gray-2) / 0.4) 100%
      //   );
      // backdrop-filter: blur(23px); // 35px
    }
  }

  &__body {
    @include config.line-clamp(2);

    max-inline-size: 40ch;
    text-wrap: balance;

    #{$compact} & {
      hyphens: manual;
      // opacity: 0;
      // flex-grow: 0;
    }
  }

  &__date {
    // --weight-axis: 100;

    font-family: var(--font-display);
    display: inline-block;
    inline-size: 100%;
    font-style: italic;
    text-align: right;
    // text-transform: capitalize;
    opacity: 0.75;

    // &::before { content: attr(datetime); }
  }

  &__footer {
    @include config.flow-space(1rem);
  }

  // &__cta {}
}
