@use '../config';

:where(#hero) {
  align-items: center;
  min-block-size: 100svh; // or 100dvh
  position: relative;

  // will change via utility classes
  // place-items: center;
  // place-content: center;
  place-content: start;

  & > * { grid-row: 1; }

  video,
  video-player {
    z-index: -1;
    max-block-size: 100svh;
  }

  video {
    object-fit: cover;
    object-position: 50% 50%;
    max-inline-size: 100%;
  }

  hgroup {
    --flow-space: var(--spacer-3x);

    // z-index: 1;
    padding-inline: 3ex;
    padding-block: 2ch;
    margin-inline: var(--spacer-2x);
    text-align: left;

    place-items: start;

    @include config.respond('tablet') {
      padding: unset;
      margin-inline: unset;
      // grid-column: center;
      // place-self: center;
    }
  }

  .logo {
    z-index: 1;
    min-inline-size: 100%;

    > svg {
      max-inline-size: 100%;
      padding-inline: var(--spacer-2x);
    }

    // @media (prefers-color-scheme: dark) { svg { --hsl: 70deg 100% 73%; } }
    @media (inverted-colors) { svg { filter: invert(100%); } }

    @include config.respond('tablet') {
      padding-inline: calc(2.5rem + 2vw);
    }
  }

  & > .overlay {
    background-image: url('../images/hero/duotone-hires-sqr.webp');
    background-position: center bottom;
    background-size: contain;
    // background-attachment: fixed;
    pointer-events: none;
  }
}
