@font-face {
  font-family: 'Garamond ITC';
  src: url('../fonts/GaramondITC/GaramondBookITC-Ital.woff2') format('woff2'),
      url('../fonts/GaramondITC/GaramondBookITC-Ital.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Garamond ITC';
  src: url('../fonts/GaramondITC/GaramondLightITC-Reg.woff2') format('woff2'),
      url('../fonts/GaramondITC/GaramondLightITC-Reg.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Garamond ITC';
  src: url('../fonts/GaramondITC/GaramondLightITC-Ital.woff2') format('woff2'),
      url('../fonts/GaramondITC/GaramondLightITC-Ital.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Garamond ITC';
  src: url('../fonts/GaramondITC/GaramondUltraITC-Reg.woff2') format('woff2'),
      url('../fonts/GaramondITC/GaramondUltraITC-Reg.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Garamond ITC';
  src: url('../fonts/GaramondITC/GaramondBookITC-Reg.woff2') format('woff2'),
      url('../fonts/GaramondITC/GaramondBookITC-Reg.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Garamond Narrow ITC';
  src: url('../fonts/GaramondITC/GaramondNarrowBookITC-Reg.woff2') format('woff2'),
      url('../fonts/GaramondITC/GaramondNarrowBookITC-Reg.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Garamond ITC';
  src: url('../fonts/GaramondITC/GaramondUltraITC-Ital.woff2') format('woff2'),
      url('../fonts/GaramondITC/GaramondUltraITC-Ital.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Garamond ITC';
  src: url('../fonts/GaramondITC/GaramondBoldITC-Reg.woff2') format('woff2'),
      url('../fonts/GaramondITC/GaramondBoldITC-Reg.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Garamond ITC';
  src: url('../fonts/GaramondITC/GaramondBoldITC-Ital.woff2') format('woff2'),
      url('../fonts/GaramondITC/GaramondBoldITC-Ital.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Garamond Narrow ITC';
  src: url('../fonts/GaramondITC/GaramondNarrowBoldITC-Ital.woff2') format('woff2'),
      url('../fonts/GaramondITC/GaramondNarrowBoldITC-Ital.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Garamond Narrow ITC';
  src: url('../fonts/GaramondITC/GaramondNarrowLightITC-Ital.woff2') format('woff2'),
      url('../fonts/GaramondITC/GaramondNarrowLightITC-Ital.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Garamond Narrow ITC';
  src: url('../fonts/GaramondITC/GaramondNarrowBookITC-Ital.woff2') format('woff2'),
      url('../fonts/GaramondITC/GaramondNarrowBookITC-Ital.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Garamond Narrow ITC';
  src: url('../fonts/GaramondITC/GaramondNarrowBoldITC-Reg.woff2') format('woff2'),
      url('../fonts/GaramondITC/GaramondNarrowBoldITC-Reg.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Garamond Narrow ITC';
  src: url('../fonts/GaramondITC/GaramondNarrowLightITC-Reg.woff2') format('woff2'),
      url('../fonts/GaramondITC/GaramondNarrowLightITC-Reg.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
