@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'BlocExtCond';
  src: url('../fonts/BlocExtCond.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bloc';
  src: url('../fonts/Bloc.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BlocHeavy';
  src: url('../fonts/BlocHeavy.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
