mixin card(props)
  -
    let {
      class: className = '',
      head,
      body,
      date,
      view = 'compact',
      media = true,
      ratio = '16/9',
      action = true,
      ...rest
    } = props
  -
    let attrs = {},
        classes = [],
        styles = {}
  -
    let classList = ['card', 'card--compact']
    //- classList[className]
    classList.push(className)
  -
    let attrsList = {
      class: [...classList],
      //- style: {'--ratio': ratio}
    }
  //-
    let className = 'card'
    let view = ` ${className}--${view}` ?? props.view
    attrs.class = className + view

  article&attributes(attrsList)
    h3.card__headline= head
    if media
      .card__image-wrapper
        //-
          picture.card__image
            source(data-srcset="" type="image/webp")
            img(data-src="" alt="" title="" loading="lazy")
    //- header.card__header
      if props.view === 'compact'
        | #[h4.card__headline= head]
      else
        | #[h2.card__headline= head]
    p.card__body
      if !props.sink
        | #{body}
      else
        block
    if action
      footer.card__footer
        time.card__date(datetime="")
        +cta({
          base: 'card',
          type: 'anchor',
          text: 'Посмотреть',
          link: props.link
        })(data-js-anim='bg-gradient')
