extends page

block vars
  - let page = data.pages.catalogue
  -
    // https://titlecapitalize.com/replace-space-with-hyphen/
    // https://stackoverflow.com/questions/1983648/replace-spaces-with-dashes-and-make-all-letters-lower-case
    const toKebabCase = (str) => str.replace(/\s+/g, '-').toLowerCase();

block content
  //-
    let categories = [
      {
        label: 'Новые',
        values: [
          //- 'За полгода',
          'За последние 30 дней',
          'За неделю',
        ]
      }, {
        label: 'По дате выпуска',
        values: [
          '2024',
          '2023',
        ]
      }, {
        label: 'Печатная продукция',
        values: [
          'Плакаты',
          'Выпуски зина',
        ]
      },
    ]
  -
    // https://seller-edu.ozon.ru/work-with-goods/trebovaniya-k-kartochkam-tovarov/product-information
    let categories = [
      {
        label: 'New',
        values: [
          'Last 30 days',
          'Last week',
        ]
      //- }, {
      //-   label: 'By Year',
      //-   values: [
      //-     '2024',
      //-     '2023',
      //-   ]
      }, {
        label: 'Print',
        values: [
          'Posters',
          'Zine issues',
        ]
      },
    ]

  header
    h1 Магазин
    small [Выберите подходящие категории товаров]
    p.warning
      | This browser does not support the CSS #[code :has()] function.
      a(href="https://caniuse.com/css-has")
        | Review current support
    p.warning
      | This browser does not support CSS container queries.
      a(href="https://caniuse.com/css-container-queries")
        | Review current support

  //- REFS
    - https://github.com/argyleink/gui-challenges/tree/main/multi-select
    - https://web.dev/articles/building/a-multi-select-component?hl=ru
  aside
    form
      select(multiple="true" title="Filter results by category")
        each group of categories
          optgroup(label= group.label)
            each val of group.values
              option(value= val.toLowerCase())= val

      each category of categories
        fieldset
          legend
            = category.label
          each val of category.values
            div
              input(
                type="checkbox"
                id= toKebabCase(val)
                name= category.label.toLowerCase()
                value= val.toLowerCase())
              label(for= val.toLowerCase())= val
    output#applied-filters

  article
    span.last-30-days.posters
    span.last-week.posters
    span.posters
    span.posters(data-year="2023")
    span.last-6-months.zine-issues
    span.last-week.zine-issues
    span.zine-issues
    span.zine-issues(data-year="2024")
