extends page

block vars
  - let page = data.pages.index
  -
    // https://github.com/cfjedimaster/Serverless-Examples/tree/master/recaptcha
    const HOST = 'https://www.google.com/recaptcha/api.js',
          KEY = '6LchYK0UAAAAAMRflt6o0V_1imaH5KDnH5XVjWjB'

append head-start
  if !isArrEmpty(hosts)
    each host in hosts
      link(rel="preconnect" href=`https://${host}` crossorigin)
      link(rel="dns-prefetch" href=`https://${host}` crossorigin)

//- append head-end
  script(src=`${HOST}?render=${KEY}&onload=initRecaptcha&render=explicit`)
  script(type="text/javascript").
    var initRecaptcha = function() {
      grecaptcha.ready(function() {
        grecaptcha.execute('6LchYK0UAAAAAMRflt6o0V_1imaH5KDnH5XVjWjB', { action: "homepage" }).then(function(token) {
          document.getElementById('recaptcha_token').value = token;
        });
      });
    }

block content

  block background
  //- append background
    .fixed#canvas

  section.grid
    //- each sec in sections
      - let { id, classes } = sec

    //- include ../layout/_advert

    include ../layout/_hero

    include ../layout/_feed

    include ../layout/_about

    include ../layout/_goods

    include ../layout/_locate

    include ../layout/_contact

    //- include ../layout/_reviews

    section.container.spaced.--ada-md#foot
      .grid__content.tagline
        include ../../images/brand-tagline.svg

block scripts
