section.container.spaced.--ada-lg#about
  .grid__center
    +head({
      class: [],
      level: 2,
      text: 'О нас',
      split: 'chars' })
  .grid__content
    include ../../images/arrows.svg
    include ../../images/trip-tent.svg
    include ../../images/vinyl-record.svg
    include ../../images/boat-propeller.svg
    .tagline.flow.abs-centered.d-flex.flex-centered
      include ../../images/logo.svg
      h5.font-serif
        | Пираты Каспийского#{spacedEmDash}подполье московских акваторий.
      //- +textLoop()
  article.flow.grid__content
    +head({
      class: ['font-serif'],
      level: 2,
      text: about.head,
      split: 'chars' })
    +head({
      class: ['font-serif', '--deck-narrow'],
      level: 5,
      text: [`Это наш магазин и${NBSP}платформа для${NBSP}анонса мероприятий, релизов и${NBSP}архив полезных материалов.`],
      split: 'chars' })
