section.container.spaced.--ada-md#locate
  .grid__center: +head({
    class: [],
    level: 2,
    text: 'Дислокация',
    split: 'chars' })
  +map({
    classes: 'grid__content',
    addSidebar: false })
